<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="/layout">
<head>
<title>View sales Details</title>
</head>
<body>
	<section layout:fragment="content">
		
		
		<a href="/product/list" class="btn btn-primary">sales View</a>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">

						<table id="datatable" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Sales Details ID</th>
										<th>Product Name</th>
									<th>Product Quantity</th>
								
									<th>Unit Price</th>
									<th>Product Code</th>

								</tr>

								<tr th:each="sdetails : ${slist}">
								<td th:text="${sdetails.getSalesInvDetailsId()}"></td>
								<td th:text="${sdetails.getProductName()}"></td>
									<td th:text="${sdetails.getQuantity()}"></td>
									
									<td th:text="${sdetails. getUnitPrice()}"></td>
										<td th:text="${sdetails.productEntity.getProductCode()}"></td>
                                   <!--  <td><a
										th:href="@{|/sales/products/view/${sdetails. getUnitPrice()}|}">Products</a></td>  -->

								</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</section>
		
		
	</section>
</body>
</html>