<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layout">

<head>
<title>Admin Page</title>

</head>

<body>
<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
           <div class="card"  style="padding:20px; background-color:#33135C; border-radius:5px;">
					<div class="card-header" style="color:white;font-size:17px">Unverified Users</div>
					<div class="card-body">
						<h1 class="display-4" style="color:white;">30</h1>
					</div>
				</div>
          </div>
          
          <div class="col-md-3">
           <div class="card"  style="padding:20px; background-color:#FFD300; border-radius:5px;">
					<div class="card-header" style="color:white;font-size:17px">Unverified Users</div>
					<div class="card-body">
						<h1 class="display-4" style="color:white;">30</h1>
					</div>
				</div>
          </div>
          
          <div class="col-md-3">
           <div class="card"  style="padding:20px; background-color:#13CA91; border-radius:5px;">
					<div class="card-header" style="color:white;font-size:17px">Unverified Users</div>
					<div class="card-body">
						<h1 class="display-4" style="color:white;">30</h1>
					</div>
				</div>
          </div>
          
          <div class="col-md-3">
           <div class="card"  style="padding:20px; background-color:#FF9472; border-radius:5px;">
					<div class="card-header" style="color:white;font-size:17px">Unverified Users</div>
					<div class="card-body">
						<h1 class="display-4" style="color:white;">30</h1>
					</div>
				</div>
          </div>
		</div>
	</div>
   
</section>
</body>
</html>